version: '3.8'  # 虽然新版 Docker 会忽略它，但写上保持兼容性

services:
  deep-m3-api:
    build: .
    image: deep-m3-agent:latest
    container_name: deep-m3-api
    ports:
      - "8000:8000"
    volumes:
      - ./src:/app/src
      - ./logs:/app/logs
      - ./assets:/app/assets
    environment:
      - DEEPSEEK_API_KEY=${DEEPSEEK_API_KEY}
      - MOCK_LATENCY_ENABLED=true
    networks:
      - monitor-net

  prometheus:
    image: prom/prometheus:latest
    container_name: prometheus
    ports:
      - "9090:9090"
    volumes:
      - ./configs/prometheus.yml:/etc/prometheus/prometheus.yml
    command:
      - --config.file=/etc/prometheus/prometheus.yml
    networks:
      - monitor-net

  grafana:
    image: grafana/grafana:latest
    container_name: grafana
    ports:
      - "3000:3000"
    volumes:
      # [持久化] 你的 Dashboard 数据会存在本地 grafana_storage 文件夹里
      - ./grafana_storage:/var/lib/grafana
    depends_on:
      - prometheus
    networks:
      - monitor-net

networks:
  monitor-net:
    driver: bridge